.button {
    height: 32px;
    width: 153px;
    background-color: $main-color;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    &_main {
        margin-top: 60px;
        width: 303px;
        height: 54px;
        font-size: 16px;
        font-weight: 500;
        line-height: 25px;
        text-align: center;

    }
}