.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url(../../img/main.jpg) center  (center/cover)  no-repeat;
    &__wrapper {
        margin-top: 95px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__header { 
        color:white;
        font-size: 42px;
        line-height: 42px;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__subheader {
        margin-top: 19px;
        color:white;
        font-size: 24px;
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        font-weight: 500;
        text-transform: uppercase;

    }
    &__icons {
        width: 424px;
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        width: 106px;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        line-height: 14px;
        color:white;
        text-align: center;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        
        }
    }
    &__link {
        color: #fff;
        margin-top: 13px;
        font-size: 16px;
        font-weight: 500;
        line-height: 25px;
        a {
            text-transform: uppercase;
            color: #fff; 
            line-height: 19px;
            text-align: right;
        }
    }
}